<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryName</key>
		<string>美容</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_beauty_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_beauty_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_beauty_selected</string>
	</dict>
    <dict>
        <key>categoryName</key>
        <string>日用</string>
        <key>isIncome</key>
        <integer>0</integer>
        <key>categoryImageFileName_Normal</key>
        <string>category_e_commodity_normal</string>
        <key>categoryImageFileName_S</key>
        <string>category_e_commodity_s</string>
        <key>categoryImageFileName_Selected</key>
        <string>category_e_commodity_selected</string>
    </dict>
	<dict>
		<key>categoryName</key>
		<string>书籍</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_books_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_books_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_books_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>汽车</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_car_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_car_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_car_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>用餐</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_catering_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_catering_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_catering_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>孩子</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_child_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_child_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_child_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>通讯</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_communicate_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_communicate_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_communicate_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>数码</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_digital_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_digital_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_digital_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>服饰</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_dress_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_dress_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_dress_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>捐赠</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_donate_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_donate_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_donate_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>长辈</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_elder_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_elder_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_elder_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>娱乐</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_entertainmente_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_entertainmente_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_entertainmente_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>快递</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_express_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_express_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_express_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>娱乐</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_entertainmente_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_entertainmente_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_entertainmente_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>住宿</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_friend_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_friend_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_friend_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>水果</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_fruite_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_fruite_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_fruite_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>礼物</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_gift_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_gift_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_gift_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>居家</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_home_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_home_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_home_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>住房</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_house_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_house_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_house_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>彩票</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_lottery_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_lottery_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_lottery_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>医疗</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_medical_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_medical_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_medical_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>居家</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_money_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_money_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_money_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>办公</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_office_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_office_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_office_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>宠物</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_pet_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_pet_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_pet_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>维修</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_repair_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_repair_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_repair_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>购物</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_shopping_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_shopping_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_shopping_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>烟酒</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_smoke_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_smoke_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_smoke_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>零食</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_snack_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_snack_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_snack_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>社交</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_social_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_social_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_social_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>运动</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_sport_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_sport_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_sport_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>学习</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_study_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_study_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_study_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>交通</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_traffic_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_traffic_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_traffic_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>旅行</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_travel_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_travel_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_travel_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>蔬菜</string>
		<key>isIncome</key>
		<integer>0</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_e_vegetable_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_e_vegetable_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_e_vegetable_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>理财</string>
		<key>isIncome</key>
		<integer>1</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_i_finance_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_i_finance_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_i_finance_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>礼金</string>
		<key>isIncome</key>
		<integer>1</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_i_money_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_i_money_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_i_money_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>其它</string>
		<key>isIncome</key>
		<integer>1</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_i_other_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_i_other_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_i_other_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>兼职</string>
		<key>isIncome</key>
		<integer>1</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_i_parttimework_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_i_parttimework_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_i_parttimework_selected</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>工资</string>
		<key>isIncome</key>
		<integer>1</integer>
		<key>categoryImageFileName_Normal</key>
		<string>category_i_wage_normal</string>
		<key>categoryImageFileName_S</key>
		<string>category_i_wage_s</string>
		<key>categoryImageFileName_Selected</key>
		<string>category_i_wage_selected</string>
	</dict>
</array>
</plist>
